@model IEnumerable<ToDo.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Notes</h1>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Content </th>
            <th>Date</th>
            <th>Completed?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        @Html.DisplayFor(modelItem => item.content)
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        @Html.DisplayFor(modelItem => item.date)
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        @if (item.completed == false)
                        {
                            <span class="badge badge-danger rounded-pill d-inline" style="margin-right: 1rem;">Not completed</span>
                            <button type="button" id="markcompletedbtn" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal_@item.id">
                                Mark as Completed
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal_@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                            <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">You cannot undo this!</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">No</button>
                                            <a href="@Url.Action("MarkAsCompleted", "Notes", new { id = item.id })" class="btn btn-primary">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        @if (item.completed == true)
                        {
                            <span class="badge badge-success rounded-pill d-inline">Completed</span>
                        }
                    </div>
                </td>
                <td>
                    <!-- Create Button -->
                    <form asp-action="Create" asp-route-id="@item.id" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-outline-success" data-mdb-ripple-init data-mdb-ripple-color="dark">Create</button>
                    </form>
                    <!-- Edit Button -->
                    <form asp-action="Edit" asp-route-id="@item.id" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">Edit</button>
                    </form>

                    <!-- Details Button -->
                    <button type="button" id="deletebtn" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#deletemodal_@item.id">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deletemodal_@item.id" tabindex="-1" aria-labelledby="deletemodalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deletemodalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">You cannot undo this!</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">No</button>
                                    <a href="@Url.Action("Delete", "Notes", new { id = item.id })" class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete Button -->
                    <form asp-action="Details" asp-route-id="@item.id" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
</script>
